# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
.eggs/
dist/
build/
*.egg
*.whl

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
*.pytest_cache*
allure-results/
allure-report/
reports/

# OS
Thumbs.db
.DS_Store

# Environment
.env
*.env.local

# Logs
*.log
